table {
    width: 100%;
    overflow: scroll;
}
  
th, td {
    white-space: normal;
    word-wrap: break-word;
    max-width: 200px;
}

::ng-deep .mat-column-activityName .mat-column-activityType {
    width: 200px;
}

th.mat-header-cell {
    text-align: center !important;
}

::ng-deep .mat-cell {
    text-align: center;
}

.mat-header-cell {
    color: #0099ff;
    font-style: inherit;
}


