.highlight{
    background: lightgoldenrodyellow; /* green */
}

// ::ng-deep .cdk-column-sNo, .cdk-column-facultyId, .cdk-column-name,  .cdk-column-department,  .cdk-column-designation,  .cdk-column-gender,  .cdk-column-qualification {
//     width: 20%;
// }


.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    .mat-table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
        display: table;
        border-collapse: collapse;
        margin: 0px;
    }
    .mat-row,
    .mat-header-row {
        display: table-row;
    }
    .mat-cell,
    .mat-header-cell {
        word-wrap: initial;
        display: table-cell;
        padding: 0px 5px;
        line-break: unset;
        width: auto;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
    }
  }