
<div class="d-flex flex-wrap">
        <div class="wave-pattern">
            <div class="wrapper">
                <a href="#" class="wave-btn"><span>wave</span></a>
            </div>
        </div>
        <div class="wave-pattern">
            <div class="wrapper">
                <a href="#" class="wave-btn"><span>wave</span></a>
            </div>
        </div>
        <div class="wave-pattern">
            <div class="wrapper">
                <a href="#" class="wave-btn"><span>wave</span></a>
            </div>
        </div>
        <div class="wave-pattern">
            <div class="wrapper">
                <a href="#" class="wave-btn"><span>wave</span></a>
            </div>
        </div>
        <div class="wave-pattern">
            <div class="wrapper">
                <a href="#" class="wave-btn"><span>wave</span></a>
            </div>
        </div>
</div>


