<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 ">
            <div class="card">
                <div class="card-header">
                    <h5>Add Activity</h5>
                </div>
                <div class="card-body">
                    <form class="needs-validation" novalidate>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="validationCustom01" class="required-field">Activity name</label>
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="text" class="form-control" id="validationCustom01" placeholder="Enter event name"
                                    [formControl]="validationForm.controls['activityName']" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="validationCustom03" class="required-field">Activity Type</label>
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="text" class="form-control" id="validationCustom03" placeholder="Enter event type"
                                    [formControl]="validationForm.controls['activityType']" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="validationCustom03" class="required-field">Start Date and Time</label>
                            </div>
                            <div class="col-md-6 mb-3">
                                <input class="form-control digits" type="datetime-local"
                                id="example-datetime-local-input" [formControl]="validationForm.controls['startDate']">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="validationCustom03" class="required-field">End Date and Time</label>
                            </div>
                            <div class="col-md-6 mb-3">
                                <input class="form-control digits" type="datetime-local"
                                id="example-datetime-local-input" [formControl]="validationForm.controls['endDate']">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="validationCustom03" class="required-field">Activity URL</label>
                            </div>
                            <div class="col-md-6 mb-3">
                                <input class="form-control" type="url" [formControl]="validationForm.controls['activityUrl']">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label class="required-field">Activity Remarks</label>
                            </div>
                            <div class="col-md-6 mb-3">
                                <angular-editor [(ngModel)]="htmlContent" [config]="config"></angular-editor>
                            </div>
                        </div>
                      

                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label class="required-field">Upload Activity Certificate</label>
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="file" ng2FileSelect class="custom-file-input" id="validatedCustomFile" [uploader]="uploader" class="mb-0" />
                                <label class="custom-file-label" for="validatedCustomFile">Upload Activity Certificate</label>
                            </div>
                        </div>
                        
                        <div class="d-flex flex-row-reverse">
                            <button class="btn btn-primary m-2" [disabled]="!validationForm.valid" type="submit">Save</button>
                            <button class="btn btn-primary m-2" [disabled]="!validationForm.valid" type="submit">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends -->
